#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 1
#define MARK 2
#define CURSOR 3
#define FUNCTION 4
#define SCROLL 5
#define WIRELESS 6

//mouse cursol

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

//mouse scroll

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

&msc_input_listener {
    speed_up {
        layers = <FUNCTION>;
        input-processors = <&zip_wheel_scaler 3 1>; //スクロールを3倍速にする
    };
};

&trackball_listener {
    scroller {
        layers = <SCROLL>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            //スクロール方向を逆転,
            <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        COMBO_TAB {
            bindings = <&kp TAB>;
            key-positions = <3 1>;
        };

        COMBO_SHIFTTAB {
            bindings = <&kp LS(TAB)>;
            key-positions = <3 2 1>;
        };

        COMBO_CLICK1 {
            bindings = <&mkp MB1>;
            key-positions = <13 12>;
        };

        COMBO_LAN1 {
            bindings = <&kp LANG1>;
            key-positions = <16 17>;
        };

        COMBO_LANG2 {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <6 7>;
        };
    };

    behaviors {
        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        mt3: mod_tap3 {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                &kp W         &kp E   &kp R    &kp T                                &kp Y        &kp U  &kp I      &kp O         &kp P
&mt3 LEFT_SHIFT A    &kp S         &kp D   &kp F    &kp G                                &kp H        &kp J  &kp K      &kp L         &mt3 RIGHT_SHIFT COLON
&mt3 LEFT_CONTROL Z  &kp X         &kp C   &kp V    &kp B                                &kp N        &kp M  &kp COMMA  &kp DOT       &mt3 RIGHT_CONTROL MINUS
&kp LEFT_ALT         &kp LEFT_WIN  &trans  &kp INS  &lt 4 SPACE  &mo 2    &kp BACKSPACE  &lt 3 ENTER         &mo 6      &kp LEFT_WIN  &mt3 RIGHT_ALT ESCAPE
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        //1

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &mkp MB3  &trans    &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &mkp MB1  &mkp MB1  &mkp MB2  &mo 5
&trans  &trans  &trans  &trans  &trans                    &trans  &mkp MB4  &trans    &mkp MB5  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans            &trans    &trans    &trans
            >;
        };

        //2

        MARK {
            bindings = <
&kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp EXCL       &trans     &trans                                 &kp INT_YEN      &kp PLUS   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT
&kp AT_SIGN       &kp SLASH          &kp DOLLAR     &kp ASTRK  &kp CARET                              &kp HASH         &kp MINUS  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
&trans            &trans             &kp SEMICOLON  &trans     &kp BACKSLASH                          &kp AMPERSAND    &kp EQUAL  &kp LESS_THAN         &kp GREATER_THAN       &kp QUESTION
&trans            &trans             &trans         &trans     &trans         &trans    &kp C_VOL_DN  &kp C_VOLUME_UP             &trans                &trans                 &trans
            >;

            sensor-bindings = <&re_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        //3

        CURSOR {
            bindings = <
&trans    &kp LC(LG(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LG(RIGHT_ARROW))  &trans                    &trans     &kp LA(LEFT_ARROW)  &kp UP_ARROW   &kp LA(RIGHT)  &kp KP_PLUS
&trans    &kp LEFT_ARROW          &kp DOWN      &kp RIGHT_ARROW          &trans                    &kp ENTER  &kp LEFT_ARROW      &kp DOWN       &kp RIGHT      &kp KP_MINUS
&kp HOME  &kp PAGE_DOWN           &kp END       &kp PAGE_UP              &trans                    &trans     &kp PAGE_UP         &kp PAGE_DOWN  &kp HOME       &kp END
&trans    &trans                  &trans        &trans                   &trans  &trans    &trans  &trans                         &trans         &trans         &trans
            >;

            sensor-bindings = <&mouse_scrl SCRL_RIGHT SCRL_LEFT>;
        };

        //4

        FUNCTION {
            bindings = <
&kp TILDE  &kp F7  &kp F8  &kp F9  &kp F12                        &kp N7  &kp N8  &kp N9  &trans   &trans
&trans     &kp F4  &kp F5  &kp F6  &kp F11                        &kp N4  &kp N5  &kp N6  &trans   &kp COLON
&trans     &kp F1  &kp F2  &kp F3  &kp F10                        &kp N1  &kp N2  &kp N3  &kp DOT  &kp SLASH
&trans     &trans  &trans  &trans  &trans   &trans    &kp DELETE  &kp N0          &trans  &trans   &trans
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        //5

        SCROLL {
            bindings = <
&trans    &kp LC(LG(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LG(RIGHT_ARROW))  &trans                    &kp KP_MULTIPLY  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_PLUS
&trans    &kp LEFT_ARROW          &kp DOWN      &kp RIGHT_ARROW          &trans                    &kp KP_SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS
&kp HOME  &kp PAGE_DOWN           &kp END       &kp PAGE_UP              &trans                    &kp UNDER        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
&trans    &trans                  &trans        &trans                   &trans  &trans    &trans  &kp NUMBER_0                   &kp NUMBER_0  &kp DOT       &kp QUESTION
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        //6

        WIRELESS {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                         &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans        &trans        &trans        &trans        &trans                               &trans          &trans        &trans        &trans        &trans
&trans        &trans        &trans        &trans        &trans                               &trans          &trans        &trans        &trans        &bt BT_CLR
&trans        &trans        &trans        &trans        &trans        &trans    &bootloader  &studio_unlock                &trans        &trans        &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };
    };
};
